body {
  --background: rgb(var(--background-rgb));
  --foreground: rgb(var(--foreground-rgb));
  --accent: var(--cyan);
  --black: rgb(var(--black-rgb));
  --white: rgb(var(--white-rgb));
  --comment: rgb(var(--comment-rgb));
  --comment-rgb: 121, 112, 169;
  --selection-rgb: 69, 65, 88;
  --cyan-rgb: 128, 255, 234;
  --green-rgb: 138, 255, 128;
  --orange-rgb: 255, 202, 128;
  --pink-rgb: 255, 128, 191;
  --purple-rgb: 149, 128, 255;
  --red-rgb: 255, 149, 128;
  --yellow-rgb: 255, 255, 128;
  --black-rgb: 34, 33, 44;
  --white-rgb: 248, 248, 242;
  --selection-rgb-light: 176, 172, 194;
  --cyan-rgb-light: 0, 229, 191;
  --green-rgb-light: 18, 229, 0;
  --orange-rgb-light: 229, 133, 0;
  --pink-rgb-light: 229, 0, 113;
  --purple-rgb-light: 37, 0, 229;
  --red-rgb-light: 229, 37, 0;
  --yellow-rgb-light: 229, 229, 0;
  -webkit-app-region: drag;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 16px;
  font-family: "Fira Code", monospace;
}

@media (prefers-color-scheme: dark) {
  body:not(.light-theme) {
    --background-rgb: var(--black-rgb);
    --foreground-rgb: var(--white-rgb);
    --selection: rgb(var(--selection-rgb));
    --cyan: rgb(var(--cyan-rgb));
    --green: rgb(var(--green-rgb));
    --orange: rgb(var(--orange-rgb));
    --pink: rgb(var(--pink-rgb));
    --purple: rgb(var(--purple-rgb));
    --red: rgb(var(--red-rgb));
    --yellow: rgb(var(--yellow-rgb));
  }
}
body.dark-theme:not(.light-theme) {
  --background-rgb: var(--black-rgb);
  --foreground-rgb: var(--white-rgb);
  --selection: rgb(var(--selection-rgb));
  --cyan: rgb(var(--cyan-rgb));
  --green: rgb(var(--green-rgb));
  --orange: rgb(var(--orange-rgb));
  --pink: rgb(var(--pink-rgb));
  --purple: rgb(var(--purple-rgb));
  --red: rgb(var(--red-rgb));
  --yellow: rgb(var(--yellow-rgb));
}

@media (prefers-color-scheme: light) {
  body:not(.dark-theme) {
    --background-rgb: var(--white-rgb);
    --foreground-rgb: var(--black-rgb);
    --accent: var(--orange);
    --selection: rgb(var(--selection-rgb-light));
    --cyan: rgb(var(--cyan-rgb-light));
    --green: rgb(var(--green-rgb-light));
    --orange: rgb(var(--orange-rgb-light));
    --pink: rgb(var(--pink-rgb-light));
    --purple: rgb(var(--purple-rgb-light));
    --red: rgb(var(--red-rgb-light));
    --yellow: rgb(var(--yellow-rgb-light));
  }
}
body.light-theme:not(.dark-theme) {
  --background-rgb: var(--white-rgb);
  --foreground-rgb: var(--black-rgb);
  --accent: var(--orange);
  --selection: rgb(var(--selection-rgb-light));
  --cyan: rgb(var(--cyan-rgb-light));
  --green: rgb(var(--green-rgb-light));
  --orange: rgb(var(--orange-rgb-light));
  --pink: rgb(var(--pink-rgb-light));
  --purple: rgb(var(--purple-rgb-light));
  --red: rgb(var(--red-rgb-light));
  --yellow: rgb(var(--yellow-rgb-light));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  color: var(--foreground);
  background-color: var(--selection);
  opacity: 1;
}

html,
body,
#app {
  height: 100%;
}
