.container {
  color: var(--comment);
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected {
  color: var(--cyan);
}
